<div class="bg-dark-900 text-white pt-8 pb-48 px-8">
  <div class="grid grid-cols-2 w-full max-w-screen-xl mx-auto">
    <div class="flex flex-col items-center">
      <img src="/assets/jkt48lab_white.png" alt="" class="w-32" />
      <h2>
        Unofficial
        <a href="https://jkt48.com" class="text-red-200">JKT48</a> Website
      </h2>
      <h1 class="font-medium text-xl">
        JKT48Lab by
        <a href="https://safatanc.com" class="text-green-200">safatanc.com</a>
      </h1>
    </div>
    <div class="mx-auto">
      <p class="max-w-xl text-xs">
        Website <a href="/" class="text-green-200">JKT48Lab</a> ini bukan
        website official dari
        <a href="https://jkt48.com" class="text-red-200">JKT48</a>. Website ini
        dibuat oleh fans (fanmade) untuk menampilkan statistik terkait live,
        private message, dan lain lain.
      </p>
      <h1 class="font-medium text-xl mb-2 mt-5">Useful Links</h1>
      <div class="flex gap-5 items-center">
        <div>
          <i class="bx bxl-github text-2xl align-middle mr-1"></i>
          <a
            href="https://github.com/agilistikmal"
            class="text-green-200"
            target="_blank"
            >GitHub</a
          >
        </div>
        <div>
          <i class="bx bxl-discord-alt text-2xl align-middle mr-1"></i>
          <a href="/discord" class="text-green-200" target="_blank">Discord</a>
        </div>
        <div>
          <i class="bx bxl-twitter text-2xl align-middle mr-1"></i>
          <a
            href="https://twitter.com/jkt48lab"
            class="text-green-200"
            target="_blank"
            >Twitter</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
