<div class="p-8">
  <h1 class="text-[32px] font-bold">Hi 👋!</h1>
  <p>
    Selamat datang di <a href="/" class="text-green-200">JKT48Lab</a>.
    Unofficial
    <a href="https://jkt48.com" class="text-red-200">JKT48</a> Website.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
    <a
      href="/live"
      class="group text-center bg-dark-800 border-b-4 border-red-300 p-8 rounded-lg w-full mx-auto hover:-translate-y-1 hover:shadow-xl transition duration-500 max-w-sm flex flex-col justify-center"
    >
      <h1
        class="font-bold text-[32px] text-red-300 group-hover:text-red-400 transition duration-500"
      >
        Live
      </h1>
      <h2 class="text-sm text-green-100">
        Tonton live member di IDNLive/Showroom
      </h2>
      <div>
        <img src="/assets/IDN_Live.svg" alt="" class="h-[16px] mx-auto" />
        <img src="/assets/SHOWROOM_logo.svg" alt="" class="h-[16px] mx-auto" />
      </div>
    </a>
    <a
      href="/schedule"
      class="group text-center bg-dark-800 border-b-4 border-blue-300 p-8 rounded-lg w-full mx-auto hover:-translate-y-1 hover:shadow-xl transition duration-500 max-w-sm flex flex-col justify-center"
    >
      <h1
        class="font-bold text-[32px] text-blue-300 group-hover:text-blue-400 transition duration-500"
      >
        Schedule
      </h1>
      <h2 class="text-sm text-green-100">
        Lihat jadwal keseluruhan JKT48 <br />
        <span class="text-white/80 text-xs">(Theater, Offair, VC, dll)</span>
      </h2>
      <p class="text-blue-400">COMING SOON</p>
    </a>
    <a
      href="/pm"
      class="group text-center bg-dark-800 border-b-4 border-pink-300 p-8 rounded-lg w-full mx-auto hover:-translate-y-1 hover:shadow-xl transition duration-500 max-w-sm flex flex-col justify-center"
    >
      <h1
        class="font-bold text-[32px] text-pink-300 group-hover:text-pink-400 transition duration-500"
      >
        Private Message
      </h1>
      <h2 class="text-sm text-green-100">
        Update Statistik PM
        <br />
        <span class="text-white/80 text-xs">(Daily, Weekly, Monthly)</span>
      </h2>
      <p class="text-pink-400">COMING SOON</p>
      <div>
        <img src="/assets/PM.webp" alt="" class="h-[32px] mx-auto" />
      </div>
    </a>
  </div>
</div>
