<script>
  let video_player = document.getElementById("video_player");
  if (Hls.isSupported()) {
    var hls = new Hls();
    hls.loadSource("{{.live.StreamingUrl}}");
    hls.attachMedia(video_player);
    hls.on(Hls.Events.MANIFEST_PARSED, function () {
      video_player.play();
      video_player?.removeAttribute("loop");
    });
  }
</script>

<div
  class="w-full flex justify-center mt-5 overflow-hidden rounded-lg bg-dark-800"
>
  <video
    id="video_player"
    autoplay
    controls
    preload="auto"
    class="w-full"
  ></video>
</div>
