<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>
<script>
  window.__unocss = {
    theme: {
      colors: {
        green: {
          100: "#fafde8",
          200: "#ebf7a4",
          300: "#dbf260",
          400: "#ccec1c",
          500: "#a3bd16",
          600: "#66760e",
          700: "#3d4708",
          800: "#292f06",
          900: "#141803",
        },
        red: {
          100: "#fde8e9",
          200: "#fab9bc",
          300: "#f1434c",
          400: "#ee141f",
          500: "#a70e16",
          600: "#770a10",
          700: "#470609",
          800: "#300406",
          900: "#180203",
        },
      },
    },
    shortcuts: {
      btn: "px-5 py-1 bg-green-100 text-dark-900 border-2 border-green-100 font-bold rounded-lg hover:text-dark-100 transition duration-500",
      "btn-outline":
        "btn bg-transparent text-green-200 hover:text-green-100 font-medium",
    },
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/attributify.global.js"></script>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<script src="https://hlsjs.video-dev.org/dist/hls.js"></script>

<style>
  /* width */
  ::-webkit-scrollbar {
    border-radius: 12px;
    width: 12px;
    height: 24px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 12px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 12px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #383838;
    border-radius: 12px;
  }
</style>
