<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JKT48Lab</title>
    {{ template "layout/head" }}
  </head>
  <body class="bg-dark-500 text-white font-[Montserrat]">
    <div class="min-h-dvh">
      <nav>{{ template "components/navbar" }}</nav>
      <main class="w-full max-w-screen-xl mx-auto">{{ embed }}</main>
    </div>
    <footer>{{ template "components/footer" }}</footer>
  </body>
</html>
